addons:
  apt:
    packages:
      - sshpass

services:
  - docker

sudo: required

language: generic

if: branch = master OR env(ADAPT_BUILD_MODE) = test

before_install:
  - test "$ADAPT_BUILD_MODE" = test || export ADAPT_BUILD_MODE=prod
  - test "$ADAPT_BUILD_MODE" = prod || export ADAPT_EMAIL1=$ADAPT_TEST_EMAIL1
  - test "$ADAPT_BUILD_MODE" = prod || export ADAPT_EMAIL2=$ADAPT_TEST_EMAIL2
  - test "$ADAPT_BUILD_MODE" = prod || export ADAPT_SMTP_HOST=$ADAPT_TEST_SMTP_HOST
  - test "$ADAPT_BUILD_MODE" = prod || export ADAPT_SMTP_USER=$ADAPT_TEST_SMTP_USER
  - test "$ADAPT_BUILD_MODE" = prod || export ADAPT_SMTP_PASSWORD=$ADAPT_TEST_SMTP_PASSWORD
  - export SSHPASS=$DEPLOY_PASS

install:
  - docker-compose -f docker-compose.yml -f docker-compose.override.yml -f docker-compose.$ADAPT_BUILD_MODE.yml build

after_success:
  - docker save adapt-backend adapt-frontend | sshpass -e ssh -p $DEPLOY_PORT -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_HOST docker load
  - sshpass -e scp -P $DEPLOY_PORT -o StrictHostKeyChecking=no docker-compose.yml $DEPLOY_USER@$DEPLOY_HOST:~/adapt-$ADAPT_BUILD_MODE
  - sshpass -e scp -P $DEPLOY_PORT -o StrictHostKeyChecking=no docker-compose.$ADAPT_BUILD_MODE.yml $DEPLOY_USER@$DEPLOY_HOST:~/adapt-$ADAPT_BUILD_MODE/docker-compose.override.yml
  - sshpass -e ssh -p $DEPLOY_PORT -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_HOST "cd adapt-$ADAPT_BUILD_MODE && docker-compose down && docker-compose up -d"
