.user-info {
  color: #fcfcfc;
  padding: 0 20px 0 0;
}

.header {
  padding: 0 0 20px;
}

.jumbotron {
  background-color: transparent !important;
}

.info-box {
  max-height: 400px;
  overflow-y: auto;
}

input[type='text'],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.workflow-leonid:hover {
  cursor: pointer;
  background-color: #e1e5eb;
}

.comment-delete:hover {
  cursor: pointer;
}

.comment-delete {
  font-size: 10pt;
  float: right;
}

.cur-pointer {
  cursor: pointer;
}

.cur-default {
  cursor: default;
}

.float-right {
  float: right;
}

.fixed-alert {
  position: fixed;
  top: 30px;
  width: 57%;
}

.empty-for-next-step {
  height: 30px;
}

.underline:hover {
  text-decoration: underline;
  text-decoration-color: #e6e6e6 !important;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.empty-for-main-page-left {
  height: 20px;
}

.empty-for-main-page-right {
  height: 30px;
}

.empty-for-main-page-between-buttons {
  height: 20px;
}

.file-delete:hover {
  cursor: pointer;
}

.file-delete {
  font-size: 12pt;
  float: right;
}

.new-person {
  top: 32px;
}
