.main__article {
  font-size: 20px;
  color: red;
}

.anyClass {
  height: 450px;
  overflow-y: scroll;
}

input[type='text'],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
