.main__article {
  font-size: 20px;
  color: red;
}

.anyClass {
  max-height: 450px;
  overflow-y: auto;
}

input[type='text'],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.workflow-leonid:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.comment-delete {
  height: 10px;
  font-size: medium;
}

.comment-delete:hover {
  cursor: pointer;
  font-weight: bold;
}
